ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  padding: 30px;
}

.nav__menu {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline;
  margin: -15em;
  margin-left: 2em;
  font-family: "Poppins";
}
