.header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.header__banner {
  height: 25px;
  background-color: aqua;
  padding: 3px;
  /* padding-left: px; */
  display: flex;
  justify-content: space-between;
}

.header__banner p {
  margin: 0px;
}

.phone_img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.phone_section {
  display: flex;
  justify-content: space-between;
  text-align: right;
  padding: 3px;
}
